<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.indiewire.com/wp-content/uploads/2019/06/little-women-photos-ss10.jpg);">
  <div class="container">
    <h1>Save your favorite films</h1>
    <p>Create lists, track movies, write reviews</p>
  </div>
</div>
