<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewList" data-whatever="@mdo">Open modal for @mdo</button> %>
<div class="modal fade" id="createNewList" tabindex="-1" role="dialog" aria-labelledby="createNewListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createNewListLabel">New List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @list do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'submit-btn modal-footer' %>
        <% end %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div> %>
    </div>
  </div>
</div>
