<%# <%= content_for :navbar, render('lists/home_nav') %>
<body id="homepage">
  <%= render "lists/banner" %>
  <div class="container">
    <div class="lists-container">
      <h2>LISTS</h2>
      <div class="cards">
        <% @lists.each do |list| %>
          <%= render "lists/card_list", list: list %>
        <% end %>
      </div>
      <%# <%= link_to "Create a movie list", new_list_path(@list), class: 'custom-link' %>
    </div>
  </div>
</body>
