<div class="comment-container">
  <h6>REVIEW</h6>
  <div class="comment" data-edit-comment-target="comment">
    <p><%= bookmark.comment.presence || "No comment" %></p>
    <button type="button" class="edit-btn" data-action="click->edit-comment#displayForm">EDIT</button>
  </div>
</div>
<%= simple_form_for [bookmark.list, bookmark],
      html: {
        class: 'd-none',
        data: {
          edit_comment_target: 'form',
          action: "submit->edit_comment#update click->edit-comment#preventCollapse"
        }
      } do |f| %>
  <%= f.input :comment, label: false, value: bookmark.comment, input_html: { class: "autofocus", data: { edit_comment_target: "input" } } %>
  <%= f.submit "SAVE", class: 'save-btn' %>
<% end %>
