<div class="movie-search-card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(movie.poster_url || asset_path('no_image.jpg')) %>)">
  <h3><%= movie.title %></h3>
</div>
