<%# <div data-search-movie-target="results"> %>
<% if movies.present? %>
  <h5><%= pluralize movies.count, 'result' %> for <code><%= params[:query] %></code></h5>
  <div class="cards">
    <% movies.each do |movie| %>
      <%= render 'bookmarks/movie_search_card', movie: movie %>
    <% end %>
  </div>
<% else %>
  <p>No results found for <code><%= params[:query] %></code></p>
<% end %>
<%# </div> %>
