// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$light-gray: #FAFAFA;
$gray: #494848;

$blue: #003399;
$prussian-blue: #003566;
$yellow: #F0EC57;
$green: #2c6e49;
$nyanza: #E2FADB;
$tea-green: #DBEFBC;
$dark-navy: #000814;
$charcoal: #373F51;
$cream: #faf6f2;
