.banner {
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 232px 0;
  text-align: center;
  animation: slideshow 10s ease-in-out infinite;

  h1 {
    color: $nyanza;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    color: $tea-green;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  @keyframes slideshow {
    0% { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("spiritedaway.jpg"); }
    25% { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("ladybird.jpg"); }
    50% { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("coraline.jpg"); }
    75% { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("littlewomen.jpg"); }
    100% { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("bottoms.jpg"); }
  }
}
