.custom-btn {
  color: $lighter-jet;
  background-color: $lightneonyellow;
  border: 1px solid $lighter-jet;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    background-color: transparent;
  }
}

.add-movie-btn {
  color: $blue;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Didact Gothic", "Helvetica", "serif";
  text-align: start;

  &:hover {
    color: $subtitleyellow;
    text-decoration: underline;
  }
}

.add-bookmark-btn {
  color: $blue;
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 8px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 1.1rem;

  .btn-icon {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 200;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .btn-text {
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-20px);
    transition: transform 0.2s, opacity 0.2s;
  }

  &.expanded {
    width: 116px;
    color: $seasalt;
    background-color: $blue;

    .btn-icon {
      opacity: 0;
      transform: translateX(-20px);
    }

    .btn-text {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.edit-btn {
  border: none;
  color: $moonstone;
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 0.9rem;
  background-color: transparent;

  &:hover {
    color: $aureolin;
  }
}

.save-btn {
  border: none;
  color: $moonstone;
  font-size: 0.9rem;
  background-color: transparent;

  &:hover {
    color: $aureolin;
  }
}
