.custom-link {
  background-color: $mediumblue;
  color: $yellow;
  border: 2px solid $mediumblue;
  border-radius: 60px;
  width: 142px;
  font-size: 16px;
  line-height: 40px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 18px;
  right: 18px;

  &:hover {
    background-color: transparent;
    color: $blue;
    border: 2px solid $blue;
    transition: all 0.3s;
  }
  &:hover i {
    transform: scale(1.5);
  }
}

.custom-btn {
  color: $lighter-jet;
  background-color: $lightneonyellow;
  border: 1px solid $lighter-jet;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    background-color: transparent;
  }
}

.add-movie-btn {
  color: $lighter-jet;
  background-color: $baby-blue;
  border: 1px solid $lighter-jet;
  padding: 4px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Didact Gothic", "Helvetica", "serif";

  &:hover {
    background-color: $lighter-jet;
    color: $cream;
  }
}

.add-bookmark-btn {
  color: $lighter-jet;
  background-color: transparent;
  border: 1px solid $lighter-jet;
  border-radius: 8px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  .btn-icon {
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .btn-text {
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-20px);
    transition: transform 0.2s, opacity 0.2s;
  }

  &.expanded {
    width: 116px;
    background-color: $lighter-jet;
    color: $cream;

    .btn-icon {
      opacity: 0;
      transform: translateX(-20px);
    }

    .btn-text {
      opacity: 1;
      transform: translateX(0px);
    }
  }

}
