// .card-movie {
//   // width: 131px;
//   // height: 193px;

//   flex: 0 0 131px;
//   height: 193px;
//   position: relative;
//   overflow: hidden;
//   transition: all 0.3s ease;
//   cursor: pointer;

//   img {
//     width: 100%;
//     object-fit: cover;
//   }

//   &.expanded {
//     flex: 0 0 calc(3 * 131px + 16px);
//     height: calc(2 * 193px + 8px);

//     .movie-details {
//       display: block;
//     }
//   }

//   .movie-details {
//     display: none;
//     padding: 16px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     overflow-y: auto;
//     z-index: 1;
//     background-color: $offwhite;
//   }
// }

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 131px);
  grid-auto-rows: 193px;
  gap: 8px;
  position: relative;
  justify-content: center;
}

.card-movie {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: $cream;
  border: 0.3px solid $lighter-jet;

  img {
    object-fit: cover;
  }

  &.expanded {
    grid-column: span 4;
    grid-row: span 2;
    z-index: 1;

    .movie-details {
      display: block;
    }
  }

  .movie-details {
    display: none;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $cream;
    border: 1px solid $lighter-jet;
    cursor: default;

    h3 {
      line-height: 1;
      margin-top: 2px;
    }
    .date {
      font-family: "Roboto Flex", "Helvetica", serif;
      font-weight: 200;
      font-size: 0.95rem;
    }
    .duration-genres {
      font-size: 0.9rem;
      font-family: "Roboto Flex", "Helvetica", serif;
      font-weight: 100;
    }
    .duration {
      font-weight: 200;
    }
    .details-left img {
      width: 120px;
      height: 176px;
      object-fit: cover;
    }
    .overview {
      margin: 0 4px;
      font-size: 0.9rem;
      text-wrap: pretty;
      p {
        margin-bottom: 0;
      }
    }

  }

  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }

  .front-poster img, .view-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $cream;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .view-details {
    transform: rotateY(180deg);
    height: 100%;
    font-size: 1.3rem;
    border: 0.7px solid $lighter-jet;

    span {
      position: relative;
      display: inline-block;
      padding: 8px 0;
      &:before {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background-color: $lighter-jet;
        top: 50%;
      }
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid $lighter-jet;
        border-right: 1px solid $lighter-jet;
        transform: rotate(45deg);
        top: calc(50% - 5px);
        position: absolute;
        right: 1px;
      }

    }
  }

  &.flipped .flip-card {
    transform: rotateY(180deg);
  }
}

.form-control.is-valid {
  border-color: inherit;
  background: none;
}

.comment-container {
  position: relative;
}

.comment {
  padding: 8px;
  border-radius: 4px;
  background-color: $cream;
  border: 0.5px solid $subtitleyellow;
  color: $commentblue;
  font-size: 0.95rem;
  text-wrap: pretty;
}

.comment-input {
  margin-bottom: -16px;
}

.review {
  color: $blue;
  font-size: 0.97rem;
  margin-bottom: 4px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .card-movie.expanded {
    grid-column: span 3;
  }
}

@media (min-width: 992px) {
  .card-movie:hover .flip-card {
    transform: rotateY(180deg);
  }
}
