// .card-movie {
//   // width: 131px;
//   // height: 193px;

//   flex: 0 0 131px;
//   height: 193px;
//   position: relative;
//   overflow: hidden;
//   transition: all 0.3s ease;
//   cursor: pointer;

//   img {
//     width: 100%;
//     object-fit: cover;
//   }

//   &.expanded {
//     flex: 0 0 calc(3 * 131px + 16px);
//     height: calc(2 * 193px + 8px);

//     .movie-details {
//       display: block;
//     }
//   }

//   .movie-details {
//     display: none;
//     padding: 16px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     overflow-y: auto;
//     z-index: 1;
//     background-color: $offwhite;
//   }
// }

// .movie-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, 131px);
//   grid-auto-rows: 193px;
//   gap: 8px; /* Adjust spacing between cards */
//   position: relative;
// }

.card-movie {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: $seasalt;

  img {
    width: 100%;
    object-fit: cover;
  }

  &.expanded {
    grid-column: span 3;
    grid-row: span 2;
    z-index: 1;

    .movie-details {
      display: block;
    }
  }

  .movie-details {
    display: none;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $offwhite;
  }
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 131px);
  grid-auto-rows: 193px;
  gap: 8px;
  position: relative;
  justify-content: center;
}

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: repeat(3, 1fr);;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
