.card-list {
  height: 200px;
  border-radius: 8px;
  margin-bottom: 4px;
  position: relative;
  background-color: $cream;
  padding: 16px;

  h2 a {
    color: $lighter-jet;
  }
  &:hover h2 a {
    color: $ruddy-blue;
  }
  span {
    font-size: 0.9rem;
    color: $airforce-blue;
  }
  p:first-of-type {
    font-size: 0.95rem;
  }
}

.card-list-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.delete-btn {
  position: absolute;
  top: 3px;
  right: 8px;
  color: $nyanza;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
