.form {
  padding: 24px 32px 32px;
  margin-top: 50px;
  color: $lighter-jet;
  background-color: transparent;
  // border: 1px solid $lighter-jet;
  // border-radius: 4px;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }

  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
  }

}

.custom-input {
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid $lighter-jet;
  font-family: "Cutive Mono", serif;
  background-color: transparent;

  &:focus {
    border-bottom: 1px solid $subtitleyellow;
  }
}

.file-input {
  font-family: "Cutive Mono", serif;
  background-color: transparent;
  border-radius: 0;
}

.image-preview img {
  margin: 10px 0 16px;
  display: block;
  max-width: 100%;
  border: 1px solid $jet;
  border-radius: 5px;
}

.select-movie-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  font-family: "Cutive Mono", serif;

  input {
    flex: 1;

    &:focus {
      border: 1px solid $subtitleyellow;
    }
  }
}

.selected-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.movie-tag {
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;

  button {
    background: none;
    border: none;
    color: #555;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
