.home-navbar-lewagon {
  // justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;

  a {
    color: $blue;
    &:hover {
      color: $yellow;
    }
  }
  .nav-link {
    margin: 0 5px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .container-fluid {
    margin: 0 20px;
  }
}
