.list-show {
  margin: 40px auto;
  width: 90%;
}

.list-info {
  width: 30%;
  position: sticky;
  top: 0;
  height: calc(100vh - 80px);
  background-color: $ruddy-blue;
  overflow: scroll;
}

.list-bookmarks {
  width: 70%;
  background-color: $grass;
}
