.list-show {
  margin: -40px auto;
}

.list-info {
  height: 65vh;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  background-color: $seasalt;
  align-items: center;


  // img {
  //   width: 36%;
  //   object-fit: contain;
  // }
  .list-name {
    width: 440px;
    height: fit-content;
    overflow: scroll;
    color: $subtitleyellow;
    // background-color: rgba($color: $charcoal, $alpha: 0.8);
    font-weight: bold;

    p {
      font-size: 1.1rem;
    }
  }
}

.list-bookmark-info {
  width: 30%;
  position: sticky;
  top: 0;
  height: calc(100vh - 80px);
  background-color: $ruddy-blue;
  overflow: scroll;
}

.bookmarks-container {
  width: 90%;
  margin: 0 auto;
}

.list-bookmarks {
  // background-color: $grass;
}

.add-movie {

}

.form-control.search-movie-input-show {
  font-family: "Didact Gothic", "Helvetica", "serif";
  font-size: 1.3rem;
  width: 320px;
  color: $seasalt;
  border: none;
  border-bottom: 1px solid $subtitleyellow;
  outline: none;
  background-color: transparent;

  &:focus {
    border: none;
    border-bottom: 1px solid $subtitleyellow;
  }

}

.search-section {
  transition: max-height 0.3s ease;
  background-color: $blue;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  overflow: scroll;

  &.active {
    max-height: 53vh;
    visibility: visible;
    padding: 16px 0;
  }

  // &:not(.active) #close-search-btn {
  //   display: none;
  // }

  #close-search-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-top: 0px;
    transition: opacity 0.2s ease;
    color: $lightneonyellow;
    border-color: $lightneonyellow;
    font-size: 1.2rem;

    &:hover {
      background-color: $lightneonyellow;
      color: $blue;
    }
  }

  h5 {
    color: $seasalt;
  }
  code {
    color: $lightneonyellow;
  }
}

.bookmarks-container {
  margin: 16px auto;
  width: 90%;
}
