.list-show {
  margin: 40px auto;
}

.list-info {
  height: 40vh;
  width: 90%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // box-shadow: 0 0 24px 24px $seasalt inset;
  img {
    width: 36%;
    object-fit: contain;
  }
  .list-name {
    padding-right: 16px;
  }
}

.list-bookmark-info {
  width: 30%;
  position: sticky;
  top: 0;
  height: calc(100vh - 80px);
  background-color: $ruddy-blue;
  overflow: scroll;
}

.list-bookmarks {
  // background-color: $grass;
}

.add-movie {
}

.search-section {
  transition: 0.3s ease-in;
}

.add-movie.active .search-section {

}
