.movie-search-card {
  // background-size: cover;
  // background-position: center;
  height: 248px;
  width: 104px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: $lighter-jet;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  // overflow: hidden;

  img {
    width: 100%;
    height: 156px;
    object-fit: cover;
    overflow: hidden;
  }

  h3 {
    font-size: 14px;
  }
}

.search-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .search-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .search-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
