.select-movie-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // border: 1px solid $ruddy-blue;
  border: none;
  border-radius: 0;
  font-family: "Cutive Mono", serif;

  input {
    flex: 1;
    border: 1px solid $ruddy-blue;

    &:focus {
      border: 1px solid $subtitleyellow;
    }
  }
}

.selected-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.movie-tag {
  color: $blue;
  background-color: $grass;
  border: 1px solid $lighter-jet;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-size: 14px;

  button {
    background: none;
    border: none;
    color: $lighter-jet;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      color: $airforce-blue;
    }
  }
}
